.header {
  margin-top: 40px;
  a {
    color: $primary-color;
  }
}

.header__content {
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  line-height: 28px;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 80px;
  position: relative;
  cursor: pointer;

  a:hover {
    color: $primary-second-color;
    transition: 0.3s;
  }
}

.header__logo:before {
  content: "";
  background-image: url("../img/logo-img.png");
  height: 40px;
  width: 65px;
  position: absolute;
  left: -3px;
  bottom: -5px;
}

.menu {
  margin-right: 125px;
  z-index: 4;
  position: relative;
  a:hover {
    color: $primary-second-color;
    transition: 0.3s;
  }
  li {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    
    ul {
      opacity: 0;
      visibility: hidden;
      transition: all .3s ease-in;
      position: absolute;
      background-color: $primary-second-color;
      
      li {
        display: block;
      }
      a {
        padding: 5px 20px 5px 20px;
      }
      a:first-child {
        padding-top: 25px;
      }
      a:last-child {
        padding-bottom: 15px;
      }
    }
  }

  li:hover {
    ul {
      opacity: 1;
      visibility: visible;
    }
  }

  li:not(:last-child) {
    padding-right: 30px;
  }

  .menu__dropdown {
    margin-top: 25px;
    position: absolute;
    left: 0;
    a {
      color: $primary-color;
    }
    
    li:hover {
      background-color: $hover-color;
    }
  }
}

.header__language {
  line-height: 20px;
  font-size: 22px;
  color: $primary-color;
  font-weight: 700;
  text-transform: uppercase;

  a:hover {
    color: $primary-second-color;
    transition: 0.3s;
  }
}
